* {
    margin: 5px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #272626;
}

.ti {
    text-align: center;
}

#titulo {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #2c3e50;
    width: 100%;
    height: auto;
    justify-content: center;
    border-radius: 10px;
}

.img {
    border-radius: 10px;
    text-align: center;
    background: rgb(143, 28, 7);
    background: linear-gradient(90deg, rgba(143, 28, 7, 1) 0%, rgba(213, 160, 121, 1) 50%, rgba(244, 137, 137, 1) 100%);
    width: 100%;
    height: auto;
}

img {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 250px;
    height: 250px;
}

#center {
    text-align: center;
}

p {
    color: white;
    font-size: 20px;
}

.video {
    text-align: center;
}

video {
    height: 700px;
}

.poster {
    text-align: center;
   
}

audio {
    width: 700px;
    height: 50px;
    
}

.scho {
    width: 150px;
    height: 150px;
}

.neo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    color: white;
}